.slide {
    width: 160px !important;
    height: 160px !important;
}

.card {
    margin: 0 5px;
    width: 135px;
    height: 132px;
}

.card ion-card-title {
    font-size: 15px !important;
    font-weight: 400;
}

.card img {
    height: 100px;
    object-fit: cover;
}

.slide-bar {
    width: 240px !important;
    height: 160px !important;
}

.card-bar {
    margin: 0 5px;
    width: 220px;
    height: 132px;
}

.card-bar ion-card-title {
    font-size: 15px !important;
    font-weight: 400;
}

.card-bar img {
    width: 240px;
    height: 100px;
    object-fit: cover;
}
