.toolbar{
    background-color: #fdc553 !important;
}

ion-item {
    background-color: #9DD6E2;
    color: #3C3C4399;
}

h1 {
    margin-top: 0 !important;
    font-size: 30px;
}

h3 {
    font-size: 18px !important;
    color: #3C3C4399;
}

p {
    color: #3C3C4399;
}

ion-button {
    color: black;
    background-color: #fdc652;
    border-radius: 33px;
}