<style>
  :root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }
</style>

<ion-app>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title></ion-title>
    </ion-toolbar>
      <ion-toolbar>
        <ion-title size="large">Découvrir</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-list>
      <ion-list-header>
        Bières les plus populaires 
      </ion-list-header>
    </ion-list>
    <div>
      <ion-slides>
        <ion-slide class="slide">
          <ion-card class="card">
            <img src="../../assets/img/beer-corona.jpg">
            <ion-card-title>Corona</ion-card-title>
          </ion-card>
        </ion-slide>
        <ion-slide class="slide">
          <ion-card class="card" href="http://localhost:8100/budweiss">
            <img src="../../assets/img/beer-bud.jpg">
            <ion-card-title>Budweiss</ion-card-title>
          </ion-card>
        </ion-slide>
        <ion-slide class="slide">
          <ion-card class="card">
            <img src="../../assets/img/beer-heineken.jpg">
            <ion-card-title>Heineken</ion-card-title>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>

    <ion-list>
      <ion-list-header>
        Bars Tendances
      </ion-list-header>
    </ion-list>
    <div>
      <ion-slides>
        <ion-slide class="slide-bar">
          <ion-card class="card-bar" href="http://localhost:8100/jclub">
            <img src="../../assets/img/bar6.jpg">
            <ion-card-title>J'Club</ion-card-title>
          </ion-card>
        </ion-slide>
        <ion-slide class="slide-bar">
          <ion-card class="card-bar">
            <img src="../../assets/img/téléchargement-29.jpg">
            <ion-card-title>Marini Pub</ion-card-title>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>
  
    <ion-list>
      <ion-list-header>
        Bars Insolites
      </ion-list-header>
    </ion-list>
    <div>
      <ion-slides>
        <ion-slide class="slide-bar">
          <ion-card class="card-bar">
            <img src="../../assets/img/bar5.jpg">
            <ion-card-title>Le Marilyn</ion-card-title>
          </ion-card>
        </ion-slide>
        <ion-slide class="slide-bar">
          <ion-card class="card-bar">
            <img src="../../assets/img/bar4.jpg">
            <ion-card-title>The 46 Bar </ion-card-title>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>

  </ion-content>

</ion-app>