<ion-app>

  <ion-header>
    <div class="bar-picture">
      <h1 class="bar-name"> J'Club </h1>
      <img src="../../assets/img/bar6.jpg" alt=""> 
    </div>
  </ion-header>
  
  <ion-content>
    <ion-list>
      <ion-list-header>
        Information
      </ion-list-header>
    </ion-list>
  
    <ion-item>
      <ion-icon name="location-outline" style="color: #fdc652;"></ion-icon>
      <p>40 Rue du Temple 75003 Paris</p>
    </ion-item>
  
    <ion-item>
      <ion-icon name="calendar-outline" style="color: #fdc652;"></ion-icon>
        <ion-item>
          <ion-chip outline color="danger">
            <ion-label>L</ion-label>
          </ion-chip>
          <ion-chip outline color="danger">
            <ion-label>M</ion-label>
          </ion-chip>
          <ion-chip outline color="success">
            <ion-label>M</ion-label>
          </ion-chip>
          <ion-chip outline color="success">
            <ion-label>J</ion-label>
          </ion-chip>
          <ion-chip outline color="success">
            <ion-label>V</ion-label>
          </ion-chip>
          <ion-chip outline color="success">
            <ion-label>S</ion-label>
          </ion-chip>
          <ion-chip outline color="success">
            <ion-label>D</ion-label>
          </ion-chip>
        </ion-item>
    </ion-item>
  
    <ion-item>
      <h3>Happy Hour</h3>
      <p>22h00 - 01h00</p>
    </ion-item>
  
    <ion-list>
      <ion-list-header>
        Bières Disponibles
      </ion-list-header>
    </ion-list>
    <div>
      <ion-slides>
        <ion-slide class="slide">
          <ion-card class="card">
            <img src="../../assets/img/beer-corona.jpg">
            <ion-card-title>Corona</ion-card-title>
          </ion-card>
        </ion-slide>
        <ion-slide class="slide">
          <ion-card class="card">
            <img src="../../assets/img/beer-bud.jpg">
            <ion-card-title>Budweiss</ion-card-title>
          </ion-card>
        </ion-slide>
        <ion-slide class="slide">
          <ion-card class="card">
            <img src="../../assets/img/beer-heineken.jpg">
            <ion-card-title>Heineken</ion-card-title>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>
  
    <ion-list>
      <ion-list-header>
        Services Proposés 
      </ion-list-header>
    </ion-list>
    <div class="service-icon ion-padding">
      <ion-icon name="wifi-outline" class="icon-ser"></ion-icon>
      <ion-icon name="musical-note" class="icon-ser"></ion-icon>
    </div>
  
    <div>
      <a href="http://localhost:8100/modif"> Modifier le bar</a>
    </div>
  
  </ion-content>
  
  </ion-app>