.title {
    margin: 3vh 0 10px 10vw;
    font-size: 7vw;
    font-family: -apple-system, system-ui, BlinkMacSystemFont;
    font-weight: 700;
}

.toolbar{
    background-color: #FDC553;
}

.card-one{
    background-image: url(src/assets/img/bar-1869656_1920.png);
    background-size: cover;
}

.card-two{
    background-image: url(src/assets/img/bar6.png);
    background-size: cover;
}

.card-three{
    background-image: url(src/assets/img/bar5.png);
    background-size: cover;
}

.card-four{
    background-image: url(src/assets/img/bar1.png);
    background-size: cover;
}

.card-five{
    background-image: url(src/assets/img/bar4.png);
    background-size: cover;
}

.card-sub{
    color: white;

}

.card-title{
    color: white;
}

