<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button auto-hide="false">
      <ion-icon name="arrow-back-outline" style="color: black" defaultHref="http://localhost:8100"></ion-icon>
    </ion-menu-button>
  </ion-buttons>

  <ion-title class="toolbar">Busweiss</ion-title>
</ion-toolbar>

<ion-content>
  <div class="title">Résultats</div>

  <ion-card href="http://localhost:8100/siraniPub">
    <ion-card-header color="dark" class="card-one">
      <ion-card-title class="card-title">Sirani Pub</ion-card-title>
      <ion-card-subtitle class="card-sub">35 Rue de Rivoli 75001 Paris</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card href="http://localhost:8100/jclub">
    <ion-card-header color="dark" class="card-two">
      <ion-card-title class="card-title">J'Club</ion-card-title>
      <ion-card-subtitle class="card-sub">40 Rue du Temple 75003 Paris</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header color="dark" class="card-three">
      <ion-card-title class="card-title">Le Marilyn</ion-card-title>
      <ion-card-subtitle class="card-sub">32 Rue des Archives 75004 Paris</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header color="dark" class="card-four">
      <ion-card-title class="card-title">Marini Pub</ion-card-title>
      <ion-card-subtitle class="card-sub">34 Rue des Archives 75004 Paris</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

    <ion-card>
      <ion-card-header color="dark" class="card-five">
        <ion-card-title class="card-title">The 46 Bar</ion-card-title>
        <ion-card-subtitle class="card-sub">46 Rue de Turennes 75004 Paris</ion-card-subtitle>
      </ion-card-header>
  </ion-card>

</ion-content>